body{
    margin: 0;
    padding: 0;
    font-family: 'Inika', serif !important;
    padding-top: 56px;
    padding-bottom: 100px;
}

.brand{
    width: 100PX;
    position: absolute;
    top: 17px;
    transform: translateX(-50%);
    left: 50%;
}

a{
    font-size: 20px;
    font-weight: 500;
    color: black !important;
}

hr{
    width: 90%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 2.3px !important;
 }

.img-dis{
    width: 100% !important;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

#info-1-c{
    margin-top: 10rem;
}


#info-2-c{
    margin-top: 10rem;
    margin-left: auto;
}


@media only screen and (max-width: 991px){
 #matte-space{
    margin-bottom: 50px;
 }
}
